In [2]:
from functools import reduce

## Task 1

In [6]:
students = [
  {"name": "Alice", "age": 20, "grades": [85, 90, 88, 92]},
  {"name": "Bob", "age": 22, "grades": [95, 87, 91, 89]},
  {"name": "Charlie", "age": 19, "grades": [78, 86, 93, 90]},
  {"name": "David", "age": 21, "grades": [92, 89, 85, 88]},
  {"name": "Emma", "age": 20, "grades": [87, 92, 84, 90]},
  {"name": "Frank", "age": 23, "grades": [90, 91, 88, 86]},
  {"name": "Grace", "age": 19, "grades": [89, 92, 87, 91]},
  {"name": "Henry", "age": 22, "grades": [91, 88, 92, 87]},
  {"name": "Isabella", "age": 20, "grades": [88, 90, 93, 85]},
  {"name": "Jack", "age": 21, "grades": [86, 89, 91, 88]},
  {"name": "Kate", "age": 19, "grades": [92, 87, 90, 89]},
  {"name": "Liam", "age": 22, "grades": [91, 88, 86, 90]},
  {"name": "Mia", "age": 20, "grades": [85, 92, 90, 88]},
  {"name": "Noah", "age": 21, "grades": [89, 91, 87, 92]},
  {"name": "Olivia", "age": 19, "grades": [86, 90, 92, 88]},
  {"name": "Patrick", "age": 22, "grades": [90, 88, 91, 87]},
  {"name": "Quinn", "age": 20, "grades": [92, 85, 88, 90]},
  {"name": "Ryan", "age": 21, "grades": [87, 91, 89, 92]},
  {"name": "Sophia", "age": 19, "grades": [90, 88, 86, 91]},
  {"name": "Thomas", "age": 22, "grades": [92, 90, 87, 89]}
]

In [8]:
filtered_students = list(filter(lambda student: student["age"] == 20 and 85 in student["grades"], students))
average_grades = list(map(lambda student: reduce(lambda x, y: x + y, student["grades"]) / len(student["grades"]), students))
highest_average_grade = reduce(lambda x, y: x if x > y else y, average_grades)

print(filtered_students)
print(average_grades)
print(highest_average_grade)

[{'name': 'Alice', 'age': 20, 'grades': [85, 90, 88, 92]}, {'name': 'Isabella', 'age': 20, 'grades': [88, 90, 93, 85]}, {'name': 'Mia', 'age': 20, 'grades': [85, 92, 90, 88]}, {'name': 'Quinn', 'age': 20, 'grades': [92, 85, 88, 90]}]
[88.75, 90.5, 86.75, 88.5, 88.25, 88.75, 89.75, 89.5, 89.0, 88.5, 89.5, 88.75, 88.75, 89.75, 89.0, 89.0, 88.75, 89.75, 88.75, 89.5]
90.5

## Task 2

In [12]:
users = [
    {"name": "Alice", "expenses": [100, 50, 75, 200]},
    {"name": "Bob", "expenses": [50, 75, 80, 100]},
    {"name": "Charlie", "expenses": [200, 300, 50, 150]},
    {"name": "David", "expenses": [100, 200, 300, 400]},
    {"name": "Emma", "expenses": [150, 100, 50, 200]},
    {"name": "Frank", "expenses": [75, 80, 100, 150]},
    {"name": "Grace", "expenses": [200, 300, 50, 100]},
    {"name": "Henry", "expenses": [100, 200, 300, 400]},
    {"name": "Isabella", "expenses": [100, 50, 75, 200]},
    {"name": "Jack", "expenses": [50, 75, 80, 100]},
    {"name": "Kate", "expenses": [200, 300, 50, 150]},
    {"name": "Liam", "expenses": [100, 200, 300, 400]},
    {"name": "Mia", "expenses": [150, 100, 50, 200]},
    {"name": "Noah", "expenses": [75, 80, 100, 150]},
    {"name": "Olivia", "expenses": [200, 300, 50, 100]},
    {"name": "Patrick", "expenses": [100, 200, 300, 400]},
    {"name": "Quinn", "expenses": [100, 50, 75, 200]},
    {"name": "Ryan", "expenses": [50, 75, 80, 100]},
    {"name": "Sophia", "expenses": [200, 300, 50, 150]},
    {"name": "Thomas", "expenses": [100, 200, 300, 400]}
    # ... (другие пользователи)
]

In [13]:
filtered_users = list(filter(lambda user: reduce(lambda x, y: x + y, user["expenses"]) > 500, users))
total_expenses_per_user = list(map(lambda user: reduce(lambda x, y: x + y, user["expenses"]), filtered_users))
total_expenses = reduce(lambda x, y: x + y, total_expenses_per_user)

print(filtered_users)
print(total_expenses_per_user)
print(total_expenses)

[{'name': 'Charlie', 'expenses': [200, 300, 50, 150]}, {'name': 'David', 'expenses': [100, 200, 300, 400]}, {'name': 'Grace', 'expenses': [200, 300, 50, 100]}, {'name': 'Henry', 'expenses': [100, 200, 300, 400]}, {'name': 'Kate', 'expenses': [200, 300, 50, 150]}, {'name': 'Liam', 'expenses': [100, 200, 300, 400]}, {'name': 'Olivia', 'expenses': [200, 300, 50, 100]}, {'name': 'Patrick', 'expenses': [100, 200, 300, 400]}, {'name': 'Sophia', 'expenses': [200, 300, 50, 150]}, {'name': 'Thomas', 'expenses': [100, 200, 300, 400]}]
[700, 1000, 650, 1000, 700, 1000, 650, 1000, 700, 1000]
8400

## Task 3

In [15]:
orders = [
    {"order_id": 1, "customer_id": 101, "amount": 150.0},
    {"order_id": 2, "customer_id": 102, "amount": 200.0},
    {"order_id": 3, "customer_id": 101, "amount": 75.0},
    {"order_id": 4, "customer_id": 103, "amount": 100.0},
    {"order_id": 5, "customer_id": 101, "amount": 50.0},
    {"order_id": 6, "customer_id": 104, "amount": 175.0},
    {"order_id": 7, "customer_id": 105, "amount": 125.0},
    {"order_id": 8, "customer_id": 106, "amount": 250.0},
    {"order_id": 9, "customer_id": 107, "amount": 300.0},
    {"order_id": 10, "customer_id": 108, "amount": 100.0},
    {"order_id": 11, "customer_id": 109, "amount": 150.0},
    {"order_id": 12, "customer_id": 110, "amount": 200.0},
    {"order_id": 13, "customer_id": 111, "amount": 75.0},
    {"order_id": 14, "customer_id": 112, "amount": 100.0},
    {"order_id": 15, "customer_id": 113, "amount": 50.0},
    {"order_id": 16, "customer_id": 114, "amount": 175.0},
    {"order_id": 17, "customer_id": 115, "amount": 125.0},
    {"order_id": 18, "customer_id": 116, "amount": 250.0},
    {"order_id": 19, "customer_id": 117, "amount": 300.0},
    {"order_id": 20, "customer_id": 118, "amount": 100.0}

# ... (далее по списку) 
]

In [16]:
customer_id = 101
filtered_orders = list(filter(lambda order: order["customer_id"] == customer_id, orders))

# Подсчитать общую сумму всех заказов для данного клиента
total_amount = reduce(lambda x, y: x + y["amount"], filtered_orders, 0)

# Найти среднюю стоимость заказов для данного клиента
average_amount = total_amount / len(filtered_orders) if len(filtered_orders) > 0 else 0

print(filtered_orders)
print(total_amount)
print(average_amount)

[{'order_id': 1, 'customer_id': 101, 'amount': 150.0}, {'order_id': 3, 'customer_id': 101, 'amount': 75.0}, {'order_id': 5, 'customer_id': 101, 'amount': 50.0}]
275.0
91.66666666666667